
/*global variables*/
:root{
  --main-bg-colour:white;
  --secondary-bg-colour:#b5b5b5;
  --tertiary-bg-colour:black;

  --main-font-colour:black;
  --secondary-font-colour:#686767;
  --link-font-colour:#1083cb;
  --tertiary-font-colour:white;

  --light-grey:#e5e5e6;

  --header-font:'Trebuchet MS';

  --big-font-size: calc(10px + 2vmin);
  --title-font-size:calc(8px + 2vmin);
  --med-font-size: calc(6px + 2vmin);
  --bold-font-size: calc(4px+ 2vmin);
  --body-font-size: calc(2px + 2vmin);
  --footer-font-size: calc(6px + 1vmin);

  --card-max-width: 1000px;
}


/*General Styling*/

a{
  color:var(--link-font-colour); 
}

h1 {
  margin:0 0 0 0;
}

h2 {
  font-size: var(--title-font-size);
  color:var(--tertiary-font-colour);
  margin:0 0 0 0;
}

h5 {
  font-size: var(--med-font-size);
  color: var(--secondary-font-colour);
  font-weight: 500;
  margin:0 0 0 0;
}

h6 {
  font-size: var(--body-font-size);
  color:var(--link-font-colour);
  font-weight: 600;
  margin:0 0 0 0;
}


body{
  margin: 0 0 0 0;
  font-size: var(--body-font-size);
  color: var(--secondary-font-colour);
}

/*App level styling*/

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppContent{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #1083cb;
  padding: 8px;
  justify-content:center;
  align-items: center;

}

.App-icon{
  height: 40px;
  padding: 0px 8px 0px 8px;
}

.App-icon:hover{
  transform: scale(1.1);
}

/*Banner styling*/

.Banner {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right,var(--main-bg-colour),var(--secondary-bg-colour));
  padding: 16px;
  align-items:flex-end;
  justify-items: center;
  
}


.Banner-profilepic {
  height: calc(100px + 10vmin);
  max-height: 200px;
  pointer-events: none;
}

.Banner-cont{
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.Banner-header{
  font-family:var(--big-font-size);
  font-weight:500;
  font-size: calc(16px + 2vmin);
  color: var(--main-font-colour);
}


/*Footer styling*/

.App-footer{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: white;
  height: 55px;
}

.AppFooter-tagline{
  font-size: var(--footer-font-size);
}

/*AppBody styling*/

.App-body{
  align-items:flex-start;
  justify-content: flex-start;
}

/*cards and containers*/

.profilecontainer{
  border-radius: 10px;
  background-image: linear-gradient(var(--secondary-bg-colour),white);
  padding: 16px;
  max-width: var(--card-max-width);
}


.emplistcont{
  padding: 0 0 0 0; 
}

.emplist{
  border-radius: 10px;
  list-style-type: none;
  background-image: linear-gradient(var(--secondary-bg-colour),white);
  padding: 16px;
  margin-bottom: 4px;
  max-width: var(--card-max-width);
  
}


