

/*global variables*/
:root{
  --main-bg-colour:white;
  --secondary-bg-colour:#b5b5b5;
  --tertiary-bg-colour:#72d0ff;

  --main-font-colour:black;
  --secondary-font-colour:#686767;
  --tertiary-font-colour:white;

  --link-font-colour:#1083cb;
  --link-hover-colour:#9e57e0;
  
  

  --light-grey:#e5e5e6;

  --header-font:'Trebuchet MS';

  --footer-font-size: 0.8rem;
  --para-font-size: 1rem;
  --med-font-size: 1.2rem;
  --title-font-size:1.5rem;
  --big-font-size: 2rem;
}

/*global items ,mainly
- nothing needs a margin unless specified
- text should be spaced at 1.5lines relative to screen/parent
*/

*{
  margin:0;
  line-height: calc(1em + 0.5rem);
} 


/*General Styling*/

a{
  color:var(--link-font-colour); 
  text-decoration: none;
}

a:hover{
  color: var(--link-hover-colour);
}

button{
  display: block;
  border: none;
  background: none;
  padding: 0;
}

img{
  display: block;
}

h1{
  font-size: var(--title-font-size); 
  font-family: var(--header-font);
  margin-bottom: 4px;
}

h2 {
  font-size: var(--title-font-size);
  color:var(--secondary-font-colour);
}

h3 {
  font-size: var(--med-font-size);
  color: var(--secondary-font-colour);
  font-weight: 500;
}

h4 {
  font-size: var(--body-font-size);
  color:var(--link-font-colour);
  font-weight: 600;
  margin:0 0 0 0;
}

h5 {
  font-size: var(--body-font-size);
  color:var(--link-hover-colour);
  font-weight: 600;
  margin:0 0 0 0;
}


p{
  margin: 0 0 0 0;
  font-size: var(--para-font-size);
  color: var(--secondary-font-colour);
}

ul{
  text-decoration: none;
  padding: 0;
}

/*App level styling*/

.App{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: 100%;
  padding-top: 4px;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.header_list{
  display: none;
}

/*mobile nav bar*/

.navcont{
  position: relative;
}

.mobile_nav{
  visibility:hidden;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  background-color: #9e57e0;
}

.mobile_navmenu{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 0;
  gap: 0.3rem;
}

.mobile_navline{
  border: 1px solid black;
  padding-right: 1.5rem;
}
/*bars*/

.bars{
  color: var(--main-font-colour);
  width: 30px;
  display: block;
}


.AppContent{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.App-icon{
  height: 40px;
  padding: 0px 8px 0px 8px;
  transition: transform 0.3s;
}

.App-icon:hover{
  transform: scale(1.1);
}

/*Banner styling*/

.Banner {
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-radius: 10px;
  border-top:2px solid var(--secondary-bg-colour);
  align-items:flex-end;
  justify-items: center;
  margin-bottom: 4px;
  
}


.Banner-profilepic {
  height: calc(100px + 10vmin);
  max-height: 200px;
  pointer-events: none;
}

.Banner-cont{
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.Banner-header{
  font-family:var(--header-font);
  font-weight:500;
  font-size: var(--big-font-size);
  color: var(--main-font-colour);
  transition: color 1s;
}

.Banner-header:hover{
  color:var(--link-hover-colour);
}

/*Footer styling*/

.App-footer{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: white;
  height: 55px;
}

.AppFooter-tagline{
  font-size: var(--footer-font-size);
}

/*AppBody styling*/

.App-body{
  align-items:flex-start;
  justify-content: flex-start;
}

/*cards*/

.profile{
  
  padding: 16px;
  margin-bottom: 4px;
}

.empsection{
  padding: 16px;
}

.emplist{
  padding: 0 0 0 0;
}

.emplistitem{
  border-top: 2px solid var(--link-font-colour);
  list-style-type: none;
  margin-bottom: 4px;
}


/* media queries used to define max and min widths of view based on screen size */

/*xs*/
@media (min-width:475px) {
  .App{
    max-width: 474px;
  }
  .sunimg2{
    display: block;
    width: 24px;
  }
}

/*sm*/
@media (min-width:640px) {
  .App{
    max-width: 640px;
  }

  .header_list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap:0.5em;
  }
  
  .tab{
    border-top: 2px solid var(--secondary-bg-colour);
    border-left: 2px solid var(--secondary-bg-colour);
    border-right: 2px solid var(--secondary-bg-colour);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 4px 0 4px;
  }
  
  .tablink{
    color:var(--link-font-colour); 
    font-size: var(--para-font-size);
    font-weight: 500;
    letter-spacing: -0.03em;
    transition:color 0.5s;
  }
  
  .tablink:hover{
    color: var(--link-hover-colour);
  }
  
  .sunimg{
    display: block;
    width: 24px;
  }


  .bars{
    display: none;
  }

}

/*md*/
@media (min-width:768px) {
  .App{
    max-width: 768px;
  }

  

}

/*lg*/
@media (min-width:1024px) {
  .App{
    max-width: 1024px;
  }
}

/*xl*/
@media (min-width:1280px) {
  .App{
    max-width: 1280px;
  }
}

/*xxl*/
@media (min-width:1536px) {
  .App{
    max-width: 1536px;
  }
}