

/*global variables*/
:root{
  /*colours*/
  --main-colour:#ffffff;
  --second-colour: #171717;
  --grey-colour:#7A7B7A;
  --lightgrey-colour:#b5b5b5;

  --blue-colour:#1083cb;
  --lightblue-colour:#72d0ff;
  --purple-font:#8750bb;

  /*fonts*/
  --header-font:'Trebuchet MS';

  /*sizes*/
  --xs-font-size: 0.8rem;
  --s-font-size: 0.9rem;
  --med-font-size: 1.2rem;
  --lrg-font-size:1.5rem;
  --xl-font-size: 2rem;
}

/*global items*/
/*removes all unnecesaary default paffing and margins and standardises line spacing*/
*{
  margin:0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
} 


.darkmode{
  --main-colour:#1f1f1f;
  --second-colour: #ffffff;
}


/*General Styling*/

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--main-colour);
}

a{
  color:var(--blue-colour); 
  text-decoration: none;
}

a:hover{
  color: var(--purple-font);
}

button{
  display: block;
  border: none;
  background: none;
}

img{
  display: block;
}

h1{
  color: var(--purple-font);
  font-size: var(--lrg-font-size); 
  font-family: var(--header-font);
  margin-bottom: 4px;
}

h2 {
  color:var(--grey-colour);
  font-size: var(--lrg-font-size);
}

h3 {
  color: var(--grey-colour);
  font-size: var(--med-font-size);
  font-weight: 500;
}

h4 {
  color:var(--blue-colour);
  font-size: var(--body-font-size);
  font-weight: 600;
}

h5 {
  color:var(--purple-font);
  font-size: var(--body-font-size);
  font-weight: 600;
}


p{
  color: var(--grey-colour);
  font-size: var(--s-font-size);
  font-weight: 500;
  
}

ul{
  text-decoration: none;
}

.loading{
  filter:blur(15px) grayscale(100%);
}

.loaded{
  filter:blur(0px) grayscale(0%);
  transition: 0.7s ease-in-out;
}

/* Scroll bar styling*/
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--purple-font);
  outline: 1px solid var(--purple-font);
}


/*App level styling*/


/*margin left right auto ensures items stay centred*/
.App{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_list{
  display: none;
}

/*mobile nav bar*/

.mobile_nav{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
  align-items: flex-end;
  
}

/* Dropdown content (hidden by default) */
.mobile_navmenu {
  display: none;
  border-radius: 10px;
  background-color: white;
  padding: 4px;
  box-shadow: 0px 8px 16px 0px #000000;
  position: absolute;
}

.movile_navcontent{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 0;
  gap: 0.3rem;
}


/*mobile nav elements*/

.bars{
  width: 30px;
  display: block;
  font-family: inherit; /* Important for vertical align on mobile phones */
}


.mobile_nav:hover .mobile_navmenu {
  display: block;
  z-index: 999;
}

.mobile_navline{
  border: 1px solid black;
  width: 50%;
  padding-right: 1.5rem;
}

.mobile_navlink{
  font-weight: 500;
  letter-spacing: -0.03em;
}

.sunimg2{
  display: block;
  width: 24px;
}

.sunimg2:hover{
  display: block;
  width: 24px;
  cursor:pointer;
}

/*App start*/


.AppContent{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.App-icon{
  height: 40px;
  transition: transform 0.3s;
}

.App-icon:hover{
  transform: scale(1.1);
}

/*Banner styling*/

.Banner {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border-top:2px solid var(--lightgrey-colour);
  border-bottom:2px solid var(--lightgrey-colour);
  align-items:center;
  justify-content: center;
  margin-bottom: 4px;
  padding: 4px;
  height: 92vh;
  
}


.Banner-profilepic {
  height: calc(100px + 20vmin);
  max-height: 200px;
  pointer-events: none;
}

.Banner-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:2em;
  margin-bottom: 8px;
}

.Banner-content{
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Banner-title{
  font-family:var(--header-font);
  font-weight:500;
  font-size: 3rem;
  color:var(--purple-font);
  transition: color 1s;
}

.Banner-text{
  width: 80%;
  font-size: var(--med-font-size);
  text-align: center;
}


/*Footer styling*/

.App-footer{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  height: 55px;
}

.AppFooter-tagline{
  font-size: var(--xs-font-size);
}

/*AppBody styling*/

.App-body{
  align-items:flex-start;
  justify-content: flex-start;
}

/*cards*/

.profile{
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 4px;
  gap:2em;
}

.empsection{
  padding: 16px;
}

.workimage{
  width: 100%;
  max-width: 600px;
}


.emplist{
  padding: 0 0 0 0;
}

.emplistitem{
  border-top: 2px solid var(--blue-colour);
  list-style-type: none;
  margin-bottom: 4px;
}

.contactlist{
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.contactlistitem{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

/* media queries used to define max and min widths of view based on screen size */

/*xs*/
@media (min-width:475px) {
  .App{
    max-width: 474px;
  }

}


/*sm*/
@media (min-width:640px) {
  .App{
    max-width: 640px;
  }

  .header_list{
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 20px;
    gap:0.5em;
  }
  
  .tab{
    border-top: 2px solid var(--lightgrey-colour);
    border-left: 2px solid var(--lightgrey-colour);
    border-right: 2px solid var(--lightgrey-colour);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 4px 0 4px;
  }
  
  .tablink{
    color:var(--blue-colour); 
    font-size: var(--s-font-size);
    font-weight: 500;
    letter-spacing: -0.03em;
    transition:color 0.5s;
  }
  
  .tablink:hover{
    color: var(--purple-font);
  }
  
  .sunimg{
    display: block;
    width: 24px;
  }

  .sunimg{
    display: block;
    width: 24px;
    cursor: pointer;
  }

  .mobile_nav{
    display:none;
  }

  .profile{
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin-bottom: 4px;
    gap:2em;
  }

  .workimage{
    width: 50%;
    object-fit: contain;
  }

}

/*md*/
@media (min-width:768px) {
  .App{
    max-width: 768px;
  }

  

}

/*lg*/
@media (min-width:1024px) {
  .App{
    max-width: 1024px;
  }
}

/*xl*/
@media (min-width:1280px) {
  .App{
    max-width: 1280px;
  }
}

/*xxl*/
@media (min-width:1536px) {
  .App{
    max-width: 1536px;
  }
}